@model EdificioModel

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de eliminar el edificio?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altitud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comuna.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoEdificio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoEdificio.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @await Html.PartialAsync("../Shared/_BtnActions", new BtnActions { Eliminar = true }) |
        @await Html.PartialAsync("../Shared/_BtnActions", new BtnActions { Volver = true })
        @*<input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a asp-action="Index">Volver</a>*@
    </form>
</div>


<script>
    $("body").on("click", "#btnActions-btnVolver", function (e) {
        e.preventDefault();
        window.location = "@Url.Action("Index","AdminEdificio")";
    });
</script>