
@model UnidadParaAsociar

@{
    string soloLectura = !Model.PermiteModificar ? "disabled" : "";
}
<link rel="stylesheet" type="text/css" href="~/vendor/DataTables/css/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/vendor/DataTables/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="~/vendor/DataTables/js/datatables.min.js"></script>

<br />
<style>
    .switch {
        width: 50px;
        height: 24px;
    }

    .slider:before {
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
    }

    table {
        font-size: 0.75rem;
        table-layout: fixed;
        word-wrap: break-word;
    }

        table thead {
            background-color: #0069d9;
            color: #fff;
            border-color: #007bff;
        }

    .footer {
        text-align: center;
    }
</style>

<input type="hidden" value="@ViewBag.NewUserId" id="UserId" />

<table class="table table-bordered" id="unidadesParaAsociar">
    <thead>
        <tr>
            <th class="text-center">Inmueble</th>
            <th class="text-center">Direccion</th>
            <th class="text-center">Unidad</th>
            <th class="text-center">Region</th>
            <th class="text-center">Mide Intensidad de Consumo</th>
            <th class="text-center">Unidad Asociada</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UnidadToAssociate item in Model.UnidadesList)
        {
            <tr id="@item.Id">
                <td>@item.NombreInmueble</td>
                <td>@item.DireccionInmueble</td>
                <td>@item.NombreUnidad</td>
                <td>@item.NombreRegion</td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" name="switcherIntensidadConsumo" @item.MideIntensidadConsumo disabled>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" name="switcherAsociar" @item.UnidadAsociada @soloLectura>
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#unidadesParaAsociar").DataTable({
            "searching": true,
            "lengthChange": false,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ".",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            }
        });
    });

    $("input[name='switcherAsociar']").change(function () {
        let unidadId = $(this).parent().parent().parent().attr("id");


        const usuarioUnidad = {
            usuarioId: $("input[id='UserId']").val(),
            unidadId: unidadId,
            isChecked: $(this).is(':checked')
        };

        $.ajax({
            type: "POST",
            accepts: "application/json",
            url: apiDivision + "/AsociarUsuarioDivisionv2",
            contentType: "application/json",
            data: JSON.stringify(usuarioUnidad),
            dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Algo salio mal!");
            },
            success: function (result) {
                console.log("Funciono!!");
            }
        });
    });
</script>