@model Permisos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Permisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lectura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lectura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Escritura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escritura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Menu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Menu.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
