@model GobEfi.Web.Models.ServicioModels.ServicioModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar Servicio</h2>

<h4>@Model.Nombre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificador" class="control-label"></label>
                <input asp-for="Identificador" class="form-control" />
                <span asp-validation-for="Identificador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="form-check-label">
                        <input type="checkbox" asp-for="ReportaPMG" class="form-check-input" /> @Html.DisplayNameFor(model => model.ReportaPMG)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="form-check-label">
                        <input type="checkbox" name="PgaRevisionRed" id="PgaRevisionRed" value="true" @(Model.PgaRevisionRed == true ? "checked=\"checked\"" : null) class="form-check-input" /> @Html.DisplayNameFor(model => model.PgaRevisionRed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="form-check-label">
                        <input type="checkbox" asp-for="RevisionRed" class="form-check-input" /> @Html.DisplayNameFor(model => model.RevisionRed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="form-check-label">
                        <input type="checkbox" name="ValidacionConcientizacion" id="ValidacionConcientizacion" value="true" @(Model.ValidacionConcientizacion == true ? "checked=\"checked\"" : null) class="form-check-input" /> @Html.DisplayNameFor(model => model.ValidacionConcientizacion)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InstitucionId" class="control-label"></label>
                <select asp-for="InstitucionId" asp-items="ViewBag.Instituciones" class="form-control"></select>
                <span asp-validation-for="InstitucionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" disabled />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" disabled />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" disabled />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" disabled /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" disabled />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" disabled />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                @await Html.PartialAsync("../Shared/_BtnActions", new BtnActions { Guardar = true, Volver = true })
            </div>
        </form>
    </div>
</div>


<script>
    $("body").on("click", "#btnActions-btnVolver", function (e) {
        e.preventDefault();
        window.location = "@Url.Action("Index","AdminServicio")";
    });
</script>

